<div class="gpb-brewhouse-component">
  <section class="mat-typography">

    <h1>Brewhouse</h1>

    <form [formGroup]="form" novalidate>
      <div class="form-group">
        <mat-form-field>
          <mat-select placeholder="Brew Type" formControlName="brewType">
            <mat-option *ngFor="let item of types | keys" [value]="item.key">{{item.value}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Batch Size" formControlName="batchSize">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Efficiency" formControlName="efficiency">
        </mat-form-field>
      </div>
    </form>

  </section>