<div class="gpb-targets-component">

  <!-- <div>
    Water: {{water | async | json}}
  </div>
  <div>
    Fermentables: {{fermentables | async | json}}
  </div>
  <div>
    Boil: {{boil | async | json}}
  </div>
  <div>
    Brewhouse: {{brewhouse | async | json}}
  </div> -->
  <div>
    Water (pre-boil): {{waterPreBoil}}
  </div>
  <div>
    Water (post-cooling): {{waterPostCooling}}
  </div>
  <div>
    Gravity (pre-boil): {{gravityPreBoil}}
  </div>
  <div>
    Gravity (original): {{gravityOriginal}}
  </div>
  <div>
    Gravity (final): {{gravityFinal}}
  </div>

</div>
