/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    margin: 0;
}

.gpb-fermentables-component {
    background: lightgoldenrodyellow;
}

.gpb-water-component {
    background: lightskyblue;
}

.gpb-brewhouse-component {
    background: lightgray;
}

.gpb-boil-component {
    background: lightpink;
}

.gpb-targets-component {
    background:  lightsalmon;
}

.gpb-yeast-component {
    background: lightseagreen
}